.title{
font-family: Trebuchet MS;
color: #966561;
font-size: 5vh;
}

.author{
font-family: Trebuchet MS;
color: #966561;
font-size: 5vh; 
}

.relax{
color: rgb(131, 65, 224)
font-size: 50;
font-family: Trebuchet MS;
}

.backbutton {
background-color: rgb(178, 255, 63);
color: black;
padding: 30px;
border: none; 
margin-top: 40px; margin-left: 160px;
}
